<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Nova Tag</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <form action="" class="tm-edit-product-form">
              <div class="form-group mb-3">
                <%= form.label I18n.t('tag.name') %>
                <%= form.text_field :name, class: "form-control" %>
              </div>
          </div>
          <div class="col-12">
          <%= form.submit 'Adicionar Tag', :class => 'btn btn-primary btn-block text-uppercase' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
